.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 220px 120px; */
    grid-auto-rows: 220px;
    /*row-gap: 10px;
    column-gap: 10px;*/
    /*gap: 25px 10px;*/
    gap: 10px;
}

.container div {
    border: 1px solid black;
}

/*.container div:first-child*/
.container div:first-child {
    display: flex;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-column: 1 / 4; */
    /* grid-column: 1 / span 3; */
    /*grid-row: 1 / span 2;*/
}

.container div:first-child > div {
    flex-grow: 1;
}

.container div:first-child > div:last-child {
    text-align: right;
}

@media screen and (max-width: 596px) {
   .container {
        grid-template-columns: 1fr;
   } 
   .container div:first-child {
       flex-direction: column;
        display: none;
   }
}

@media print {
    img {
        display: none;
    }
}

body > header {
    position:fixed;
}

body {
    margin-top: 100px;
}