body{ 
    height: 2000px;
}
.container {
    border: 1px solid;
}
    .box {
        position: absolute;
        top: 50px;
        height: 100px;
        width: 100px;
        padding: 20px;
        border: 1px solid;
        box-sizing: border-box;
        background-color: limegreen;
    }

